body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

figure {
  margin: 30px 0;
}

blockquote,
blockquote p {
  margin: 0;
}

.logo {
  color: #ebeaea;
  font-size: 24px;
}

.header,
.footer {
  background-color: #4d0000;
  color: #ebeaea
}

.header {
  padding: 0 10%;
}

.top-bar {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.header p {
  font-size: 18px;
  color: #dcd5d5;
}

.header-main {
  padding: 50px 0;
  display: flex;
}

.header-text,
.header-image {
  width: 50%
}

.header-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body h2 {
  margin: 30px 0;
  text-align: center;
}

.apple-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.apple-info {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.apple-info img {
  border: 2px solid #aa0000;
  border-radius: 10px;
}

.testimony {
  background-color: #e5e7eb;
  color: #1f2937;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 28px;
  padding: 0 20%;
}

.testimony figcaption {
  margin-top: 10px;
}

.testimony figcaption,
.testimony cite {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: right;
}

.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-box {
  border-radius: 10px;
  background-color: #be2a2a;
  margin: 75px 150px;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
}

.sign-up-box h3 {
  color: #e5e7eb;
}

.sign-up-box p {
  color: #c3c5ca;
}

.sign-up-text {
  width: 80%
}