body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

.logo {
  color: #ebeaea;
  font-size: 24px;
}

.header,
.footer {
  background-color: #4d0000;
  color: #ebeaea
}

.header {
  padding: 0 10%;
}

.top-bar {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.header p {
  font-size: 18px;
  color: #dcd5d5;
}